body
{
    background:#fff9b2;
}
.trophy
{
    margin-top: 23%;
    width:30%;
}
.pump
{
    height: 55%;
    width: 90%;
}
.section
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
p
{
    color:white;
}
.container
{
    margin-top: 3%;
    align-items: center;
}
span
{
    color: red;
}
hr
{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: brown;
}
.text
{
    color:black;
}
.font
{
    color: black;
    font-size:18px;
    font-weight: 200;
    font: bold;
}
